@model IEnumerable<EL_Repository.Categoria>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titolo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titolo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.ID_categoria  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.ID_categoria  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.ID_categoria })
        </td>
    </tr>
}

</table>
