@model EL_Repository.Utenti

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Utenti</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ID_utente)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ID_utente)
            @Html.ValidationMessageFor(model => model.ID_utente)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.usename)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.usename)
            @Html.ValidationMessageFor(model => model.usename)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.livello_id, "Livello_Utenti")
        </div>
        <div class="editor-field">
            @Html.DropDownList("livello_id", String.Empty)
            @Html.ValidationMessageFor(model => model.livello_id)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
