@model EL_Repository.Utenti

@{
    ViewBag.Title = "Accedi";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Utilizzare un account locale per eseguire l'accesso.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Form di accesso</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.usename)
                @Html.TextBoxFor(m => m.usename)
                @Html.ValidationMessageFor(m => m.usename)
            </li>
            <li>
                @Html.LabelFor(m => m.password)
                @Html.PasswordFor(m => m.password)
                @Html.ValidationMessageFor(m => m.password)
            </li>
           @* <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>*@
        </ol>
        <input type="submit" value="Accedi" />
    </fieldset>
    @*<p>
        @Html.ActionLink("Registrazione", "Register") se non si dispone di un account.
    </p>*@
}
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Utilizzare un altro servizio per eseguire l'accesso.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
